.search{
    padding: 10px;
    
    width: inherit;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(229, 231, 231);
}
.imgscarousel{
    border-radius: 10px;background-color: rgb(229, 231, 231);height: max-content;text-decoration: none;padding: 20px;
    gap: 20px;
    overflow-x: scroll;
    display: flex;
    width: 90%;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .imgscarousel::-webkit-scrollbar{
    display: none;
  }